{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "ignorePatterns": ["min/*.js"],
  "plugins": [
    "security"
  ],
  "extends": [
    "eslint:all",
    "plugin:security/recommended"
  ],
  "rules": {
    "no-undef": "error",
    "complexity": [
      "error",
      6
    ],
    "require-unicode-regexp": 0,
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": true,
          "FunctionExpression": true
        }
      }
    ],
    "no-template-curly-in-string": 2,
    "prefer-template": 0,
    "wrap-iife": 1,
    "max-lines": 0,
    "max-lines-per-function": 0,
    "max-len": [
      1,
      {
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "max-statements": 0,
    "space-before-function-paren": [
      1,
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "padded-blocks": [
      1,
      "never"
    ],
    "id-length": [
      1,
      {
        "min": 1
      }
    ],
    "one-var": 0,
    "func-names": [
      1,
      "as-needed"
    ],
    "func-style": [
      1,
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "arrow-body-style": ["error", "always"],
    "object-shorthand": 1,
    "prefer-arrow-callback": 2,
    "no-param-reassign": 0,
    "no-extra-parens": 0,
    "array-element-newline": [
      1,
      "consistent"
    ],
    "no-magic-numbers": 0,
    "function-paren-newline": [
      1,
      "consistent"
    ],
    "function-call-argument-newline": [
      1,
      "consistent"
    ],
    "no-ternary": 0,
    "no-nested-ternary": 0,
    "no-restricted-properties": [
      "error",
      { "property": "substr", "message": "Use .slice instead of .substr." }
    ],
    "prefer-destructuring": 0,
    "max-params": [
      1,
      5
    ],
    "lines-around-comment": [
      1,
      {
        "allowBlockStart": true
      }
    ],
    "sort-keys": [
      1,
      "asc",
      {
        "caseSensitive": false
      }
    ],
    "prefer-named-capture-group": 0
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint/eslint-plugin"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "require-jsdoc": 0,
        "no-bitwise": 0,
        "complexity": 0
      }
    },
    {
      "files": ["*.module.js", "*.deno.js", "example.js", "test/*", "tools/**", "src/*", "lang/*/src/*"],
      "parserOptions": {
        "sourceType": "module"
      }
    }
  ],
  "reportUnusedDisableDirectives": true
}